<style>
  form {
    padding-top: 20px;
  }
</style>

<form action="/events/create" method="post">
  <input type="text" name="organizer_name" placeholder="your name here"><br>
  <input type="text" name="organizer_email" placeholder="your email here"><br>
  <input type="text" name="title" placeholder="event title here"><br>
  <input type="date" name="date" placeholder="choose event date"/><br>
  <input type="submit" id="submit_button" value="submit">
</form>
